.featured {
  padding: 107px 0;
  max-width: 1160px;
  width: 100%;
}
.featured__content {
  display: flex;
  justify-content: space-between;
}
.featured__content-image {
  display: flex;
  padding-right: 10px;
}
.featured__content-image img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.featured__content-blurb {
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 520px;
  gap: 24px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  color: #434343;
}