.callout {
  display: flex;
}
.callout-images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.callout-images img {
  border-radius: 8px;
}
.callout-images__left {
  position: relative;
  overflow: hidden;
  width: 220px;
  height: 480px;
}
.callout-images__left img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 480px;
  object-fit: cover;
}
.callout-images__right {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.callout-images__right-first {
  position: relative;
  overflow: hidden;
  width: 220px;
  height: 262px;
}
.callout-images__right-first img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 262px;
  object-fit: cover;
}
.callout-images__right-last {
  position: relative;
  overflow: hidden;
  width: 220px;
  height: 202px;
}
.callout-images__right-last img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 202px;
  object-fit: cover;
}
.callout-copywriting {
  padding: 36px 0 36px 34px;
  gap: 30px;
}
.callout-copywriting .section-title {
  display: flex;
  gap: 17px;
}
.callout-copywriting .section-title img {
  position: relative;
  top: 0;
  left: 0;
  height: 50%;
}
.callout-copywriting .section-title p {
  font-family: "Changa One";
  font-style: oblique;
  font-size: 42px;
  line-height: 47px;
  letter-spacing: -1px;
}
.callout-copywriting .section-description__small {
  padding: 20px 0 30px 0;
}