@font-face {
  font-family: "Black Signature";
  src: url("./../../fonts/BlackSignaturePersonalUseOnlyRegular.otf");
}

@font-face {
  font-family: "Changa One";
  src: url("./../../fonts/ChangaOne-Regular.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import "./../base";
@import "./../head";
@import "./../footer";
@import "./../share";

@import "./../story/article-hero";
@import "./../story/callout";
@import "./../story/highlights";
@import "./../story/disclaimer";

$main-color: #434343;

* {
  color: $main-color;
}

.article-margin {
  max-width: 912px;
  width: 85%;
  margin: 0 auto;
}

.clincher {
  padding-bottom: 35px;
}

.conclusion {
  padding-top: 35px;
  padding-bottom: 25px;
}

.disclaimer {
  max-width: 912px;
  width: 85%;
  margin: 0 auto 46px auto;
  padding: 19px 29px;
  border-radius: 4px;
  background-color: #fafafa;

  p.section-description__small:first-child {
    font-weight: 700;
  }
}