@font-face {
  font-family: "Black Signature";
  src: url("../fonts/BlackSignaturePersonalUseOnlyRegular.otf");
}

@font-face {
  font-family: "Changa One";
  src: url("../fonts/ChangaOne-Regular.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import "./head";
@import "./index/hero";
@import "./index/featured";
@import "./index/discover";
@import "./index/share";
@import "./index/recent";
@import "./footer";

$accent-color: #8A53FF;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: default;
}

.cropped {
  max-width: 1366px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.main-margin {
  max-width: 1160px;
  width: 85%;
  margin: 0 auto;
}

.active {
  color: $accent-color !important;
}

button.primary {
  background-color: $accent-color;
  color: #fff;
}

.section-subtitle {
  font-size: 18px;
  color: $accent-color;
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: 0.06em;
}

.section-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Changa One";
  font-size: 39px;
  line-height: 36px;
}

.section-description {

  &__regular {
    font-size: 18px;
    line-height: 33px;
  }

  &__small {
    font-size: 16px;
    line-height: 26px;
  }

}

.place {
  font-weight: 400;
  font-family: "Changa One";
  font-size: 24px;
  line-height: 36px;
}

.cta {
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;

  button {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    border-radius: 4px;
    border: none;
    padding: 14px 20px;
    margin-right: 2rem;
    cursor: pointer;
  }

  span {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    cursor: pointer;
    padding-left: 12px;

    a {
      text-decoration: none;
      cursor: pointer;
      color: $primary-color;
    }
  }

  img {
    width: 36px;
    height: 36px;
    cursor: pointer;
  }
}