@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: "Black Signature";
  src: url("../fonts/BlackSignaturePersonalUseOnlyRegular.otf");
}
@font-face {
  font-family: "Changa One";
  src: url("../fonts/ChangaOne-Regular.ttf");
}
.head {
  padding: 13px 0;
  display: flex;
  width: 100%;
  justify-content: center;
}
.head .header {
  display: flex;
  justify-content: space-between;
}
.head .header__logo {
  display: flex;
  flex-direction: column;
}
.head .header__logo p {
  font-family: "Black Signature";
}
.head .header__logo span {
  font-family: "Changa One";
  font-size: 24px;
}
.head .header__menu {
  display: flex;
  gap: 18px;
  padding: 10px 0;
}
.head .header__menu-links {
  display: flex;
  justify-content: flex-end;
  gap: 18px;
  align-items: center;
  position: relative;
}
.head .header__menu-links a {
  cursor: pointer;
  font-family: "Roboto";
  text-decoration: none;
  color: #495367;
}
.head .header__menu-icons {
  display: flex;
  align-items: center;
  gap: 18px;
}
.head .header__menu-icons img {
  cursor: pointer;
}

.hero {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-image: url("./../../images/hero_background_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #FFFFFF -0.92%, rgba(255, 255, 255, 0) 75.6%);
  pointer-events: none;
}
.hero__content {
  position: relative;
  padding: 124px 0;
  z-index: 1;
}
.hero__content-texts {
  justify-content: left;
  font-family: "Roboto";
  font-size: 22px;
  color: #434343;
  line-height: 36px;
}
.hero__content-texts span {
  font-family: "Changa One";
  font-size: 73px;
  color: #8A53FF;
  line-height: 84px;
}
.hero__content-texts h1 > p {
  font-family: "Changa One";
  font-size: 73px;
  color: #434343;
  line-height: 84px;
  margin-bottom: 0.3em;
}
.hero__content-texts h1 ~ p {
  margin-bottom: 2em;
}

.featured {
  padding: 107px 0;
  max-width: 1160px;
  width: 100%;
}
.featured__content {
  display: flex;
  justify-content: space-between;
}
.featured__content-image {
  display: flex;
  padding-right: 10px;
}
.featured__content-image img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.featured__content-blurb {
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 520px;
  gap: 24px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  color: #434343;
}

.discover {
  padding: 24px 0 70px 0;
  max-width: 1160px;
  margin: 0 auto;
  font-family: "Roboto";
}
.discover__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 48px;
}
.discover__location {
  display: flex;
  width: 100%;
}
.discover__location-bundle {
  display: flex;
  flex-direction: row;
}
.discover__location-bundle-card {
  flex: 1;
  max-width: 300px;
  min-width: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.discover__location-bundle-card-img img {
  width: 100%;
  height: auto;
}
.discover__location-bundle-card-texts {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.discover__location-bundle-card-texts .place {
  font-weight: 400;
  font-family: "Changa One";
  font-size: 24px;
  line-height: 36px;
}
.discover__location-bundle-card-texts .btn-discover {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #8A53FF;
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: default;
}

.cropped {
  max-width: 1366px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.main-margin {
  max-width: 1160px;
  width: 85%;
  margin: 0 auto;
}

.active {
  color: #8A53FF !important;
}

button.primary {
  background-color: #8A53FF;
  color: #fff;
}

.section-subtitle {
  font-size: 18px;
  color: #8A53FF;
  text-transform: uppercase;
  line-height: 21px;
}

.section-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Changa One";
  font-size: 39px;
  line-height: 36px;
}

.section-description {
  font-size: 18px;
  line-height: 33px;
}

.cta {
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
}
.cta button {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  border-radius: 4px;
  border: none;
  padding: 14px 20px;
  margin-right: 2rem;
  cursor: pointer;
}
.cta span {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  cursor: pointer;
  padding-left: 12px;
}
.cta span a {
  text-decoration: none;
  cursor: pointer;
  color: #434343;
}
.cta img {
  width: 36px;
  height: 36px;
  cursor: pointer;
}